@import '../scss/variables.scss';

.table-component {
	border-collapse: collapse;
	background-color: #fff;
	height: 100vh;
	&__row {
		border-bottom: 1px solid $border;
		border-collapse: separate;

		&-table-head {
			padding: 10px 5px;
			text-align: left;
		}
		&-table-data {
			padding: 10px 5px;
			text-align: left;
			font-size: 13px;
		}
	}
	&__btn-link {
		background: none;
		border: none;
		color: $primary;
	}
	&__btn-link:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}

.width10 {
	width: 10%;
}

.width20 {
	width: 20%;
}

.width15 {
	width: 15%;
}
